<md-content>
    <div ng-app="MainWindow" ng-controller="SurtidorCtrl" layout="column">
        <div layout="row">
            <!-- Columna -->
            <div layout="column" style="width:30%;">
                <!-- Fila -->
                <md-content>
                    <md-input-container flex>
                        <label>Buscar</label>
                        <input ng-model="query">
                    </md-input-container>
                </md-content>
                <!-- Fila -->
                <md-content class="scrollBar">
                    <md-list>
                        <md-item ng-repeat="s in surtidores | orderBy:'+direccionNodo' | filter:query ">
                            <md-item-content ng-click="selecionarSurtidor(s.surtidorId);">
                                <div class="md-tile-left">
                                    <img ng-src="../images/gas_pump.png" class="face" alt="{{s.direccionNodo}}">
                                </div>
                                <div class="md-tile-content">
                                    <h3>{{s.direccionNodo}}</h3>
                                    <h4>{{s.descripcion}}</h4>
                                </div>
                            </md-item-content>
                        </md-item>
                    </md-list>
                </md-content>
            </div>
            <!-- Columna -->
            <md-content class="md-padding" style="width:70%" layout="column">
                <!-- Fila -->
                <div layout="row">
                    <md-input-container flex>
                        <label>Dirección Nodo</label>
                        <input ng-model="selected.direccionNodo">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Descripción</label>
                        <input ng-model="selected.descripcion">
                    </md-input-container>
                </div>
                <md-content layout="row">
                    <md-button class="md-fab " ng-click="add();" aria-label="Nuevo" ng-disabled="!flagNuevo">
                        <img ng-src="../images/action_new.png"/>
                    </md-button>
                    <md-button class="md-fab " ng-click="save();" aria-label="Modificar" ng-disabled="!flagGrabar">
                        <img ng-src="../images/action_save.png"/>
                    </md-button>
                    <md-button class="md-fab " ng-click="delete();" aria-label="Eliminar" ng-disabled="!flagBorrar">
                        <img ng-src="../images/action_delete.png"/>
                    </md-button>
                </md-content>
            </md-content>
        </div>
    </div>
</md-content>
