<html>
<head>
    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
</head>
<body>
<!--
	poniendo layout="column" en un div cada nuevo elemento que agregemos adentro del div va ir generando una nueva fila.
	poniendo layout="row" en un div cada nuevo elemento que agregemos adentro del div va ir generando una nueva columna.
-->
<div ng-app="UsuarioApp" ng-controller="UsuarioCtrl" layout="column">
    <div layout="row">
        <!-- Columna -->
        <div layout="column" style="width:30%">
            <!-- Fila -->
            <md-content>
                <md-input-container flex>
                    <label>Buscar</label>
                    <input ng-model="query">
                </md-input-container>
            </md-content>
            <!-- Fila -->
            <md-content>
                <md-list>
                    <md-item ng-repeat="u in usuarios | filter:query">
                        <md-item-content ng-click="selecionarUsuario($index);">
                            <div class="md-tile-left">
                                <img ng-src="images/item_usuario.png" class="face" alt="{{u.nombre}}">
                            </div>
                            <div class="md-tile-content">
                                <h3>{{u.nombre}}</h3>
                                <h4>{{u.apellido}}</h4>

                                <p>
                                    {{u.nombreUsuario}}
                                </p>
                            </div>
                        </md-item-content>
                    </md-item>
                </md-list>
            </md-content>
        </div>
        <!-- Columna -->
        <md-content class="md-padding" style="width:70%" layout="column">
            <!-- Fila -->
            <div layout="row">
                <md-input-container flex>
                    <label>Nombre</label>
                    <input ng-model="selected.nombre">
                </md-input-container>
                <md-input-container flex>
                    <label>Apellido</label>
                    <input ng-model="selected.apellido">
                </md-input-container>
                <md-input-container flex>
                    <label>Clave</label>
                    <input ng-model="selected.clave">
                </md-input-container>
            </div>
            <!-- Fila -->
            <div layout="row">

                <md-input-container flex>
                    <label>Usuario</label>
                    <input ng-model="selected.nombreUsuario" placeholder="">
                </md-input-container>

                <md-input-container flex>
                    <label>Permisos</label>
                    <input ng-model="selected.permisos">
                </md-input-container>
        </md-content>
    </div>
    <md-content layout="row">
        <md-button class="md-fab " ng-click="add();" aria-label="Nuevo">
            <img ng-src="images/action_new.png"></img>
        </md-button>
        <md-button class="md-fab " ng-click="save();" aria-label="Modificar">
            <img ng-src="images/action_save.png"></img>
        </md-button>
        <md-button class="md-fab " ng-click="delete();" aria-label="Eliminar">
            <img ng-src="images/action_delete.png"></img>
        </md-button>
    </md-content>
    </md-content>
</div>
</div>
</div>

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="js/usuario.js"></script>
<script src="js/usuarioApp.js"></script>
</body>
</html>